/* Full-page background image styling with upper part focus */
.full-page-image {
    background-image: url("images/peeweepolky.JPG"); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: top; /* Show more of the upper part of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
)}

/* Overlay text box styling */
.overlay-text {
    position: absolute;
    font-size: 27px;
    background-color: #BCC3EC;
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    border-radius: 45px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    right: 400px;
    bottom: 300px;
	display: none;
}
